<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Server-Test" value=".\SQLEXPRESS" />
    <add key="Catalog-Test" value="cv2020" />

    <add key="Server" value="(localdb)\mssqllocaldb"/>
    <add key="Security" value="true" />
    <add key="Catalog" value="cv2020" />
    <add key="Attach" value="DB\DBFile.mdf" />


    <!--Intervalo de backup automatico-->
    <add key="Auto10" value="600000"/>
    <add key="Auto15" value="900000"/>
    <add key="Auto20" value="1200000"/>
    <add key="SelectedTimerIndex" value="-1"/>

    <!--Local armazenamento backup-->
    <add key="BackupPath" value="null"/>

  </appSettings>
</configuration>